/* LOL Library Styles */
/* 2012 by Matthew Reidsma */
/* reidsmam@gvsu.edu :: @mreidsma */

/* Layout Styles Only */

/* Screen widths below 33.75ems */

img {
	max-width: 100%; }

h1 { 
	float: left;
	margin-bottom: 1em;
	padding-left: 2%;
	width: 60%; }
	
h1 span {
	display: none; }
	
header .nomed {
	float: right;
	margin: .5em .5em 0 0; }

header form {
	clear: both }

.lib-form input[type="text"] {
	width: 96%; }

header form input[type="submit"] {
	width: 100%;
	margin: .5em auto; }

#content {
	width: 98%;
	padding: 1%;
	margin: auto; }

footer {
	clear: both;}

footer p, 
#footer-bottom { 
	padding: 1%; }

nav[role="navigation"] ol li {
	padding: .75em 0;
	text-align: center; }

/* Screen widths at 33.75em and up */

@media screen and (min-width: 33.75em) {
	
body {
	display: table;
	caption-side: top; }

.nomed {
	display: none; }
	
header { 
	height: 6em; }
	
h1 {
	width: 31%; }
	
header form {
	clear: none;
	float: left;
	width: 66%; }
	
h1 a abbr { 
	display: block; }

.lib-form div {
	width: 98%;
	padding: 1%;
	background: #fff;
	margin-top: 1em; }

.lib-form input[type="text"] {
	width: 66%;
	display: inline-block; }

header form input[type="submit"] {
	width: 28%;
	margin: 0;
	float: right; }

#content, #hours {
	clear: both; }

#events, #news {
	clear: both; }
	
#news {
	margin-top: 3.5em;
}

p.more { 
	clear: both; }

nav[role="navigation"] { 
	/* This awesome tip from Raphaël Goetter via Jeremy Keith, http://adactio.com/journal/4780/ */
    display: table-caption;
	position: absolute;
	top: 6em;
	width: 100%;
	background: #093A6D; }

nav[role="navigation"] ol {
    display: table-row; }

nav[role="navigation"] ol li {
    display: table-cell;
	border-bottom: none;
	padding: .75em 1em; }
	
footer #footer-bottom {
	text-align: center;
}

}

/* Screen widths at 33.75em and up */

@media screen and (min-width: 43.75em) {
	
h1 {
	margin-top: .7em; }
	
h1 a abbr { 
	display: inline; }
	
#right-column {
	float:right;
	margin-top: 2.5em;
	width: 30%;
	padding-left: 3%; }

#events,
#news {
	width: 100%; }

#news {
	margin-top: 0; }
	
#exhibits {
	float: right;
	margin-top: 2.5em;
	width: 66%; }
	
.more {  
	float: right; }	
}

@media screen and (min-width: 64em) {
	
h1 {
	margin-top: .2em; }
	
h1 span { 
	display: inline; }
	
h1 a abbr {
	display: none; }
	
#right-column {
	width: 100%;
	float: none;
	padding-left: 0; }
	
#news {
	width: 30%;
	padding-left: 3%;
	float: right;
}

#exhibits {
	width: 100%;
	margin-top: 1em;
	float: none;
	clear: both;
}
	
#exhibits .exhibit-section {
	float: left;
	width: 31.3%;
	margin: 0 1%; }

#events {
	clear: none;
	width: 66%;
	float: right;
}

.slidewrap {
	width: 47%;
	float: left;
	margin: 0 1.5%; }

header form {
	float: right;
	margin-right: 1%;
	width: 42.66666688em; }

header form input[type="text"] {
	width: 28em; }

header form input[type="submit"] {
	width: 10em; }
	
}

@media screen and (min-width: 75em) {

body {
	background: #fff;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	margin: 0 auto;
	width: 75em; }
	
html {
	background: #069; }
	
header {
	width: 100.4%;
	margin-left: -.2%;
}
	
nav[role="navigation"] {
	top: 5.9em;
	width: 75.3em;
	margin-left: -.15em; }
	
}

