/* LOL Library Styles */
/* 2012 by Matthew Reidsma */
/* reidsmam@gvsu.edu :: @mreidsma */


/* Typography styles */

body { 
	font-family: Helvetica, Verdana, Arial, sans-serif; }

p {
	font-size:100%;
	line-height:150%;
	 padding-bottom:1em; }

a { 
	color: #069; }

header { 
	background:#093A6D; }

h1 {
	font-size: 150%; 
	text-transform: uppercase; 
	font-family: "Palatino","Book Antiqua",serif;
	padding-top: .75em;}

h1 a { 
	color: #fff; 
	text-decoration: none; }

h2,h3,h4,h5,h6 { 
	color:#093A6D;
	margin:.8em 0;}

h2{
	font-family: "Palatino","Book Antiqua",serif;
	font-size:135%;
	font-weight: normal;
	text-transform: uppercase;}

h3{
	font-size: 120%;
	font-weight:bold;}

strong,
b {
	font-weight:bold; }

em,
i {
	font-style:italic; }
	
.news-section time { 
	background: #545454; 
	color: #ddd; 
	font-size: .8em; 
	font-weight: bold; 
	padding: .5em;}
	
.more {
	display: block; 
	margin: 1em 0;}

/* Button styles */

.lib-button-small {
	background: #0090D2; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	border: 1px solid #4081af; 
	border-bottom-color: #20559a; 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 2px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.29);
	color: white;
	font-weight:normal; }

.lib-button-small-grey{
	background:#eee;
	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	color: #444;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 0 1px rgba(255, 255, 255, .75); }

.lib-button-small,
.lib-button-small-grey {
	-moz-border-radius:.25em;
	-webkit-border-radius:.25em;
	border-radius:.25em; 
	cursor: pointer;
	display: inline-block;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	line-height:1.3125em;
	padding: .5em;
	text-decoration:none; }

nav[role="navigation"] ol li {
	background: #093A6D;
	border-bottom: 1px solid #fff;
}

nav[role="navigation"] ol li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

/* Form styles */
	
.lib-form input[type="text"] {
	border:1px solid #ddd;
	font-size:1.1em; }

/* Footer styles */

footer { 
	background: #ddd; 
	border-top:2px solid #bbb; 
	font-size: .8em; }
	
#footer-bottom { 
	background: #333; 
	color: #dedede; }
	
/* Image styles */
	
img { 
	border: 1px solid #ddd;}
